<%= form_for(current_user) do |f| %>
  <ul>
    <li><%= f.label :title, 'INFJ' %><%= f.radio_button :archetype, 'INFJ' %></li>
    <li><%= f.label :title, 'INFP' %><%= f.radio_button :archetype, 'INFP' %></li>
    <li><%= f.label :title, 'INTJ' %><%= f.radio_button :archetype, 'INTJ' %></li>
    <li><%= f.label :title, 'INTP' %><%= f.radio_button :archetype, 'INTP' %></li>
    <li><%= f.label :title, 'ISFJ' %><%= f.radio_button :archetype, 'ISFJ' %></li>
    <li><%= f.label :title, 'ISFP' %><%= f.radio_button :archetype, 'ISFP' %></li>
    <li><%= f.label :title, 'ISTJ' %><%= f.radio_button :archetype, 'ISTJ' %></li>
    <li><%= f.label :title, 'ISTP' %><%= f.radio_button :archetype, 'ISTP' %></li>
    <li><%= f.label :title, 'ENFJ' %><%= f.radio_button :archetype, 'ENFJ' %></li>
    <li><%= f.label :title, 'ENFP' %><%= f.radio_button :archetype, 'ENFP' %></li>
    <li><%= f.label :title, 'ENTJ' %><%= f.radio_button :archetype, 'ENTJ' %></li>
    <li><%= f.label :title, 'ENTP' %><%= f.radio_button :archetype, 'ENTP' %></li>
    <li><%= f.label :title, 'ESFJ' %><%= f.radio_button :archetype, 'ESFJ' %></li>
    <li><%= f.label :title, 'ESFP' %><%= f.radio_button :archetype, 'ESFP' %></li>
    <li><%= f.label :title, 'ESTJ' %><%= f.radio_button :archetype, 'ESTJ' %></li>
    <li><%= f.label :title, 'ESTP' %><%= f.radio_button :archetype, 'ESTP' %></li>
    <li><%= f.submit %></li>
<% end %>