<%= form_for(current_user) do |f| %>
  <ul>
    <li><%= f.label :title, 'INFJ' %><%= f.radio_button :archetype, 'INFJ' %></li>
    <li><%= f.label :title, 'INFP' %><%= f.radio_button :archetype, 'INFP' %></li>
    <li><%= f.label :title, 'INTJ' %><%= f.radio_button :archetype, 'INTJ' %></li>
    <li><%= f.label :title, 'INTP' %><%= f.radio_button :archetype, 'INTP' %></li>
    <li><%= f.label :title, 'ISFJ' %><%= f.radio_button :archetype, 'ISFJ' %></li>
    <li><%= f.label :title, 'ISFP' %><%= f.radio_button :archetype, 'ISFP' %></li>
    <li><%= f.label :title, 'ISTJ' %><%= f.radio_button :archetype, 'ISTJ' %></li>
    <li><%= f.label :title, 'ISTP' %><%= f.radio_button :archetype, 'ISTP' %></li>
    <li><%= f.label :title, 'ENFJ' %><%= f.radio_button :archetype, 'ENFJ' %></li>
    <li><%= f.label :title, 'ENFP' %><%= f.radio_button :archetype, 'ENFP' %></li>
    <li><%= f.label :title, 'ENTJ' %><%= f.radio_button :archetype, 'ENTJ' %></li>
    <li><%= f.label :title, 'ENTP' %><%= f.radio_button :archetype, 'ENTP' %></li>
    <li><%= f.label :title, 'ESFJ' %><%= f.radio_button :archetype, 'ESFJ' %></li>
    <li><%= f.label :title, 'ESFP' %><%= f.radio_button :archetype, 'ESFP' %></li>
    <li><%= f.label :title, 'ESTJ' %><%= f.radio_button :archetype, 'ESTJ' %></li>
    <li><%= f.label :title, 'ESTP' %><%= f.radio_button :archetype, 'ESTP' %></li>
    <li><%= f.submit %></li>
<% end %>

<!-- <form>
  <ol>
    <li>2) You like to be engaged in an active and fast-paced job (E: EI)
      <div><input type="radio" name="q1" value="1" />yes<input type="radio" name="q1" value="0" />no</div>
    </li>
    <li>3) You enjoy having a wide circle of acquaintances (E: EI)
      <div><input type="radio" name="q2" value="1" />yes<input type="radio" name="q2" value="0" />no</div>
    </li>
    <li>17) You spend your leisure time actively socializing with a group of people, attending parties, shopping, etc. (E: EI)
      <div><input type="radio" name="q3" value="1" />yes<input type="radio" name="q3" value="0" />no</div>
    </li>
    <li>20) You are a person somewhat reserved and distant in communication (I: EI)
      <div><input type="radio" name="q4" value="1" />yes<input type="radio" name="q4" value="0" />no</div>
    </li>
    <li>24) After prolonged socializing you feel you need to get away and be alone (I: EI)
      <div><input type="radio" name="q5" value="1" />yes<input type="radio" name="q5" value="0" />no</div>
    </li>
    <li>28) You find it difficult to speak loudly (I: EI)
      <div><input type="radio" name="q6" value="1" />yes<input type="radio" name="q6" value="0" />no</div>
    </li>
    <li>32) You rapidly get involved in social life at a new workplace (E: EI)
      <div><input type="radio" name="q7" value="1" />yes<input type="radio" name="q7" value="0" />no</div>
    </li> 
    <li>33) The more people with whom you speak, the better you feel (E: EI)
      <div><input type="radio" name="q8" value="1" />yes<input type="radio" name="q8" value="0" />no</div>
    </li>
    <li>37) Often you prefer to read a book than go to a party (I: EI)
      <div><input type="radio" name="q9" value="1" />yes<input type="radio" name="q9" value="0" />no</div>
    </li> 
    <li>38) You enjoy being at the center of events in which other people are directly involved (E: EI)
      <div><input type="radio" name="q10" value="1" />yes<input type="radio" name="q10" value="0" />no</div>
    </li>
    <li>43) You prefer to isolate yourself from outside noises (I: EI)
      <div><input type="radio" name="q11" value="1" />yes<input type="radio" name="q11" value="0" />no</div>
    </li>
    <li>48) You feel at ease in a crowd (E: EI)
      <div><input type="radio" name="q12" value="1" />yes<input type="radio" name="q12" value="0" />no</div>
    </li>
    <li>52) You usually place yourself nearer to the side than in the center of the room (I: EI)
      <div><input type="radio" name="q13" value="1" />yes<input type="radio" name="q13" value="0" />no</div>
    </li>
    <li>56) You prefer meeting in small groups to interaction with lots of people (I: EI)
      <div><input type="radio" name="q14" value="1" />yes<input type="radio" name="q14" value="0" />no</div>
    </li>
    <li>62) You prefer to spend your leisure time alone or relaxing in a tranquil family atmosphere (I: EI)
      <div><input type="radio" name="q15" value="1" />yes<input type="radio" name="q15" value="0" />no</div>
    </li>
    <li>68) You get pleasure from solitary walks (I: EI)
      <div><input type="radio" name="q16" value="1" />yes<input type="radio" name="q16" value="0" />no</div>
    </li>
     <li>69) It is easy for you to communicate in social situations (E: EI)
      <div><input type="radio" name="q17" value="1" />yes<input type="radio" name="q17" value="0" />no</div>
    </li>

    <li>5) You are usually the first to react to a sudden event: the telephone ringing or unexpected question (S: SN)
      <div><input type="radio" name="q18" value="1" />yes<input type="radio" name="q18" value="0" />no</div>
    </li> 
    <li>6) You are more interested in a general idea than in the details of its realization (N: SN)
      <div><input type="radio" name="q19" value="1" />yes<input type="radio" name="q19" value="0" />no</div>
    </li>
    <li>11) You often think about humankind and its destiny (N: EI- I)
      <div><input type="radio" name="q20" value="1" />yes<input type="radio" name="q20" value="0" />no</div>
    </li>
    <li>22) You readily help people while asking nothing in return (N: SN)
      <div><input type="radio" name="q21" value="1" />yes<input type="radio" name="q21" value="0" />no</div>
    </li>
    <li>23) You often contemplate about the complexity of life (N: SN)
      <div><input type="radio" name="q22" value="1" />yes<input type="radio" name="q22" value="0" />no</div>
    </li>
    <li>26) You easily see the general principle behind specific occurrences (N: SN)
      <div><input type="radio" name="q23" value="1" />yes<input type="radio" name="q23" value="0" />no</div>
    </li>
    <li>29) You get bored if you have to read theoretical books (N: SN)
      <div><input type="radio" name="q24" value="1" />yes<input type="radio" name="q24" value="0" />no</div>
    </li>
    <li>34) You tend to rely on your experience rather than on theoretical alternatives (S: SN)
      <div><input type="radio" name="q25" value="1" />yes<input type="radio" name="q25" value="0" />no</div>
    </li>
    <li>35) You like to keep a check on how things are progressing (S: PJ- J) 
      <div><input type="radio" name="q26" value="1" />yes<input type="radio" name="q26" value="0" />no</div>
    </li>
    <li>39) You are more inclined to experiment than to follow familiar approaches (N: SN)
      <div><input type="radio" name="q27" value="1" />yes<input type="radio" name="q27" value="0" />no</div>
    </li>
    <li>44) It's essential for you to try things with your own hands (S: SN)
      <div><input type="radio" name="q28" value="1" />yes<input type="radio" name="q28" value="0" />no</div>
    </li>
    <li>45) You think that almost everything can be analyzed (S: SN)
      <div><input type="radio" name="q29" value="1" />yes<input type="radio" name="q29" value="0" />no</div>
    </li>
    <li>50) You easily understand new theoretical principles (S: SN)
      <div><input type="radio" name="q30" value="1" />yes<input type="radio" name="q30" value="0" />no</div>
    </li>
    <li>53) When solving a problem you would rather follow a familiar approach than seek a new one (S: SN)
      <div><input type="radio" name="q31" value="1" />yes<input type="radio" name="q31" value="0" />no</div>
    </li>
    <li>57) When considering a situation you pay more attention to the current situation and less to a possible sequence of events (S: SN)
      <div><input type="radio" name="q32" value="1" />yes<input type="radio" name="q32" value="0" />no</div>
    </li>
    <li>60) You often spend time thinking of how things could be improved (N: SN)
      <div><input type="radio" name="q33" value="1" />yes<input type="radio" name="q33" value="0" />no</div>
    </li>
    <li>67) As a rule, current preoccupations worry you more than your future plans (FT- T) (S: SN- S) (PJ- P)
      <div><input type="radio" name="q34" value="1" />yes<input type="radio" name="q34" value="0" />no</div>
    </li>
    <li>72) You easily perceive various ways in which events could develop (N: SN)
      <div><input type="radio" name="q35" value="1" />yes<input type="radio" name="q35" value="0" />no</div>
    </li>

    <li>4) You feel involved when watching TV soaps (F: FT)
      <div><input type="radio" name="q36" value="1" />yes<input type="radio" name="q36" value="0" />no</div>
    </li>
    <li>7) You tend to be unbiased even if this might endanger your good relations with people (T: FT)
      <div><input type="radio" name="q37" value="1" />yes<input type="radio" name="q37" value="0" />no</div>
    </li> 
    <li>8) Strict observance of the established rules is likely to prevent a good outcome (T: FT)
      <div><input type="radio" name="q38" value="1" />yes<input type="radio" name="q38" value="0" />no</div>
    </li>  



    <li>9) It's difficult to get you excited (T: FT)
      <div><input type="radio" name="q39" value="1" />yes<input type="radio" name="q39" value="0" />no</div>    
    </li>
    <li>13) Objective criticism is always useful in any activity (T: SN- S)
      <div><input type="radio" name="q40" value="1" />yes<input type="radio" name="q40" value="0" />no</div>    
    </li>
    <li>15) You trust reason rather than feelings (T: FT)
      <div><input type="radio" name="q41" value="1" />yes<input type="radio" name="q41" value="0" />no</div>    
    </li>
    <li>19) Your actions are frequently influenced by emotions (F: FT)
      <div><input type="radio" name="q42" value="1" />yes<input type="radio" name="q42" value="0" />no</div>    
    </li>
    <li>27) You frequently and easily express your feelings and emotions (F: FT)
      <div><input type="radio" name="q43" value="1" />yes<input type="radio" name="q43" value="0" />no</div>    
    </li>
    <li>30) You tend to sympathize with other people (F: FT)
      <div><input type="radio" name="q44" value="1" />yes<input type="radio" name="q44" value="0" />no</div>    
    </li> 
    <li>31) You value justice higher than mercy (T: FT)
      <div><input type="radio" name="q45" value="1" />yes<input type="radio" name="q45" value="0" />no</div>    
    </li>
    <li>36) You easily empathize with the concerns of other people (F: FT)
      <div><input type="radio" name="q46" value="1" />yes<input type="radio" name="q46" value="0" />no</div>    
    </li>
    <li>41) You are strongly touched by the stories about people's troubles (F: SN- N)
      <div><input type="radio" name="q47" value="1" />yes<input type="radio" name="q47" value="0" />no</div>    
    </li>
    <li>49) You have good control over your desires and temptations (T: FT)
      <div><input type="radio" name="q48" value="1" />yes<input type="radio" name="q48" value="0" />no</div>    
    </li>
    <li>54) You try to stand firmly by your principles (T: FT)
      <div><input type="radio" name="q49" value="1" />yes<input type="radio" name="q49" value="0" />no</div>    
    </li>
    <li>58) You consider the scientific approach to be the best (T: SN- S)
      <div><input type="radio" name="q50" value="1" />yes<input type="radio" name="q50" value="0" />no</div>
    </li>
    <li>59) You find it difficult to talk about your feelings (T: FT)
      <div><input type="radio" name="q51" value="1" />yes<input type="radio" name="q51" value="0" />no</div>
    </li>
    <li>61) Your decisions are based more on the feelings of a moment than on the careful planning (F: FT)
      <div><input type="radio" name="q52" value="1" />yes<input type="radio" name="q52" value="0" />no</div>
    </li>
    <li>64) You are easily affected by strong emotions (F: FT)
      <div><input type="radio" name="q53" value="1" />yes<input type="radio" name="q53" value="0" />no</div>
    </li>
    <li>71) You willingly involve yourself in matters which engage your sympathies (F: FT)
      <div><input type="radio" name="q54" value="1" />yes<input type="radio" name="q54" value="0" />no</div>
    </li>
    <li>1) You are almost never late for your appointments (J: PJ)
      <div><input type="radio" name="q55" value="1" />yes<input type="radio" name="q55" value="0" />no</div>
     </li>
    <li>10) It is in your nature to assume responsibility (J: FT- T)
      <div><input type="radio" name="q56" value="1" />yes<input type="radio" name="q56" value="0" />no</div>
    </li>
    <li>12) You believe the best decision is one that can be easily changed (P: PJ)
      <div><input type="radio" name="q57" value="1" />yes<input type="radio" name="q57" value="0" />no</div>
     </li>
    <li>14) You prefer to act immediately rather than speculate about various options (J: PJ)
      <div><input type="radio" name="q58" value="1" />yes<input type="radio" name="q58" value="0" />no</div>
     </li>
    <li>16) You are inclined to rely more on improvisation than on careful planning (P: PJ)
      <div><input type="radio" name="q59" value="1" />yes<input type="radio" name="q59" value="0" />no</div>
     </li>
    <li>18) You usually plan your actions in advance (J: PJ)
      <div><input type="radio" name="q60" value="1" />yes<input type="radio" name="q60" value="0" />no</div>
     </li>
    <li>21) You know how to put every minute of your time to good purpose (J: PJ)
      <div><input type="radio" name="q61" value="1" />yes<input type="radio" name="q61" value="0" />no</div>
     </li>
    <li>25) You often do jobs in a hurry (P: PJ)
      <div><input type="radio" name="q62" value="1" />yes<input type="radio" name="q62" value="0" />no</div>
     </li>
    <li>40) You avoid being bound by obligations (P: PJ)
      <div><input type="radio" name="q63" value="1" />yes<input type="radio" name="q63" value="0" />no</div>
     </li>
    <li>42) Deadlines seem to you to be of relative, rather than absolute, importance (P: PJ)
      <div><input type="radio" name="q64" value="1" />yes<input type="radio" name="q64" value="0" />no</div>
     </li>
    <li>46) You do your best to complete a task on time (J: PJ)
      <div><input type="radio" name="q65" value="1" />yes<input type="radio" name="q65" value="0" />no</div>
     </li>
    <li>47) You take pleasure in putting things in order (J: PJ)
      <div><input type="radio" name="q66" value="1" />yes<input type="radio" name="q66" value="0" />no</div>
     </li>
    <li>51) The process of searching for solution is more important to you than the solution itself (P: PJ)
      <div><input type="radio" name="q67" value="1" />yes<input type="radio" name="q67" value="0" />no</div>
     </li>
    <li>55) A thirst for adventure is close to your heart (P: PJ)
      <div><input type="radio" name="q68" value="1" />yes<input type="radio" name="q68" value="0" />no</div>
     </li>
    <li>63) You feel more comfortable sticking to conventional ways (J: PJ)
      <div><input type="radio" name="q69" value="1" />yes<input type="radio" name="q69" value="0" />no</div>
     </li>
    <li>65) You are always looking for opportunities (P: PJ)
      <div><input type="radio" name="q70" value="1" />yes<input type="radio" name="q70" value="0" />no</div>
     </li>
    <li>66) Your desk, workbench etc. is usually neat and orderly (J: PJ)
      <div><input type="radio" name="q71" value="1" />yes<input type="radio" name="q71" value="0" />no</div>    
    </li>
    <li>70) You are consistent in your habits (J: PJ)
      <div><input type="radio" name="q72" value="1" />yes<input type="radio" name="q72" value="0" />no</div>
    </li>    
  </ol>
  <input type="submit" value="submit" />
</form>

 -->